.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    padding-top: 20px;
    justify-content: flex-end;
    margin: 0 auto 20px;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #0C1C48D3;
    background-color: #b6a27f;
    border: 1px solid #816026;
}

li.page-item.active > a {
    background: #249f75;
    color: white;
    border-color: #249f75;
}