h1 {
  text-align: center;
  font-size: 64px;
  margin-bottom: 20px;
  color: var(--main-text);
  font-family: "Texturina", serif;
  margin-top: 0;
}

h2 {
  text-align: center;
  font-size: 48px;
  color: var(--main-text);
  font-family: "Texturina", serif;
  margin: 0;
}

.PostPageLayout__errorMessage_hidden {
  text-align: center;
  color: var(--error-message);
  font-family: "Original Surfer", cursive;
  font-size: 96px;
  margin: 20px;
}

.PostPageLayout__sectionContainer_active {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  font-family: "Texturina", serif;
  color: var(--main-text);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.PostPageLayout__article_active {
  border: 3px solid var(--border);
  margin: 15px 30px;
  border-radius: 10px;
  padding: 5px;
  width: 50%;
}

.PostPageLayout__title_active {
  color: var(--posts-title);
}

.PostPageLayout__commentMessage_active {
  margin-bottom: 30px;
}



