:root {
  --bg-color: #186060D6;
  --error-message: #771c1c;
  --main-text: #342833FF;
  --login-text: #0C1C48D3;
  --border: #0C1C48D3;
  --header: #4b390e;
  --bg-login: #249f75;
  --input-field: #b6a27f;
  --posts-title: #4b390e;
  --user-button: #438a5a;
}