:root {
  --bg-color: #186060d6;
  --error-message: #771c1c;
  --main-text: #342833ff;
  --login-text: #0c1c48d3;
  --border: #0c1c48d3;
  --header: #4b390e;
  --bg-login: #249f75;
  --input-field: #b6a27f;
  --posts-title: #4b390e;
  --user-button: #438a5a;
  --bg-signup: #f5f7fa;
  --signup-main: #2e1aad;
  --signup-label: #999999;
  --input-value: #231f20;
  --checkbox-text: #231F20;
}
