h1 {
  font-size: 48px;
  margin-top: 0;
}

.SignupPageLayout__loginTitle_active {
  text-align: center;
  font-size: 64px;
  margin-bottom: 20px;
  color: var(--main-text);
  font-family: "Texturina", serif;
  font-weight: bold;
}

.SignupPageLayout__form_active {
  border-radius: 8px;
  width: 496px;
  height: 684px;
  text-align: center;
  background-color: white; //
  margin: auto;
  padding-bottom: 20px;
  font-family: "Texturina", serif;
}

.SignupPageLayout__inputContainer_active {
  margin: 10px;
  border-radius: 8px;
  border: 1px solid var(--border);
  font-size: 16px;
  width: 400px;
  padding: 10px 12px;
}
