.login {
  text-align: center;
  font-size: 64px;
  margin-bottom: 20px;
  color: rgb(52, 40, 51);
  font-family: "Texturina", serif;
  font-weight: bold;
}

.form {
  border-radius: 8px;
  width: 496px;
  height: 684px;
  text-align: center;
  color: rgba(12, 28, 72, 0.83);
  background-color: #F5F7FA;
  margin: auto;
  padding-bottom: 20px;
  font-family: "Texturina", serif;
}

h1 {
  font-size: 48px;
  margin-top: 0;
}

.word {
  height: 42px;
  width: 200px;
  border-bottom: solid 2px #2E1AAD;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #2E1AAD;
  font-family: "Manrope", serif;
  margin: 32px auto 0;
}

.input {
  background: #b6a27f;
  border: 3px solid rgba(12, 28, 72, 0.83);
  border-radius: 5px;
  width: 45%;
  margin-bottom: 0.5em;
  outline: none;
  font-size: 22px;
  font-family: "Texturina", serif;
  color: rgba(12, 28, 72, 0.83);
}

.error {
  color: #bd3b3b;
}
