h1 {
  font-size: 64px;
  margin-bottom: 20px;
  color: var(--main-text);
  font-family: "Texturina", serif;
  margin-top: 0;
  text-align: center;
}

.AllUsersPageLayout__errorMessage_hidden {
  text-align: center;
  color: var(--error-message);
  font-family: "Original Surfer", cursive;
  font-size: 96px;
  margin: 20px;
}

.AllUsersPageLayout__usersContainer_active {
  font-weight: bold;
  font-size: 20px;
  font-family: "Texturina", serif;
  color: var(--main-text);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.AllUsersPageLayout__userContainer_active {
  border: 5px solid var(--border);
  margin: 15px auto 30px auto;
  border-radius: 10px;
  padding: 5px;
  width: 25%;
}

.AllUsersPageLayout__userName_active {
  color: var(--header);
}

.FPButton__button {
  color: var(--main-text);
  font-family: "Texturina", serif;
  font-weight: 700;
  background-color: var(--user-button);
  border: 2px solid var(--border);
}