@import "../../../../app/variables";

h1 {
  font-size: 64px;
  margin-bottom: 20px;
  color: $main-text;
  font-family: "Texturina", serif;
  margin-top: 0;
  text-align: center;
}

.AllUsersPageLayout__errorMessage_hidden {
  text-align: center;
  color: $error-message;
  font-family: "Original Surfer", cursive;
  font-size: 96px;
  margin: 20px;
}

.AllUsersPageLayout__usersContainer {
  font-weight: bold;
  font-size: 20px;
  font-family: "Texturina", serif;
  color: $main-text;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.AllUsersPageLayout__userContainer {
  border: 5px solid $border;
  margin: 15px auto 30px auto;
  border-radius: 10px;
  padding: 5px;
  width: 25%;
}

.AllUsersPageLayout__userName {
  color: $header;
}
